@import url("fonts.css");
@import url("share.css");


body{
    background-color: #242424;
    font-family: vazirNorm;
}
/* start header */
.top-navbar{
    border-bottom: 1px solid rgba(198, 40, 40, .3);
    padding: .8rem 2rem .8rem 2rem !important;
}
.logo-img{
    border-left: 1px solid rgba(255, 255, 255, .15);
}
.city-name{
    color: var(--main-color-white);
    transition: var(--normTransition);
}
.city-name:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.categories{
    color: var(--main-color-white);
    transition: var(--normTransition);
}
.categories:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.categories span{
    text-wrap: nowrap;
}
.search-input{
    width: 480px !important;
    height: 35px;
}
.search-input input{
    background: rgba(255, 255, 255, .1) !important;
    color: var(--main-color-white) !important;
    outline: none;
    font-size: .9rem;
}
.search-input input:focus{
    border: 1px solid rgba(198, 40, 40, .7) !important;
}
.search-input button{
    top: 5px;
    left: 2px;
}
.search-input button svg{
    fill: var(--main-color-white) !important;
}
.my-divar{
    color: var(--main-color-white) !important;
    transition: var(--normTransition);
    text-wrap: nowrap;
}
.my-divar:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.send-post__btn{
    text-wrap: nowrap;
    background-color: rgba(198, 40, 40, .9);
    transition: var(--normTransition);
}
.send-post__btn:hover{
    background-color: rgba(224, 69, 69, 0.9);
}

/* start city modal */
.city-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    right: 0;
    z-index: 999;
    color: rgba(255, 255, 255, 0.87);;
}
.city-modal__overlay{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .4);
}
.city-modal section {
    background-color: #242424;
    position: relative;
    z-index: 999;
}
.city-modal__active{
    opacity: 1;
    visibility: visible;
}
/* finish city modal */


@media screen and (max-width:1230px) {
    .search-input{
        width: 270px !important;
    }
}
/* finish header */