@import url("fonts.css");
@import url("share.css");


body{
    background-color: #242424;
    font-family: vazirNorm;
}
/* start header */
.logo-img{
    border-left: 1px solid rgba(255, 255, 255, .15);
}
.city-name{
    color: var(--main-color-white);
    transition: var(--normTransition);
}
.city-name:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.categories{
    color: var(--main-color-white);
    transition: var(--normTransition);
}
.categories:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.search-input{
    width: 480px;
    height: 35px;
}
.search-input input{
    background: rgba(255, 255, 255, .1) !important;
    color: var(--main-color-white) !important;
    outline: none;
    font-size: .9rem;
}
.search-input input:focus{
    border: 1px solid rgba(198, 40, 40, .7) !important;
}
.search-input button{
    top: 5px;
    left: 2px;
}
.search-input button svg{
    fill: var(--main-color-white) !important;
}
.my-divar{
    color: var(--main-color-white) !important;
    transition: var(--normTransition);
    text-wrap: nowrap;
}
.my-divar:hover{
    color: var(--main-color-hover);
    background: rgba(255, 255, 255, .08) !important;
}
.send-post__btn{
    text-wrap: nowrap;
    background-color: rgba(198, 40, 40, .9);
    transition: var(--normTransition);
}
.send-post__btn:hover{
    background-color: rgba(224, 69, 69, 0.9);
}
/* finish header */