@import url("fonts.css");
@import url("share.css");


body{
    background-color: #242424;
    font-family: vazirNorm;
}
.wrapper{
    width: 42rem;
    background-color: rgba(255, 255, 255, .04);

    position: relative;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid rgba(198, 40, 40, .7);
    transition: all .5s;
    animation: clippath 6s infinite linear;
    border-radius: 1.2rem;
}


@keyframes clippath {
0%,
100% {
    clip-path: inset(0 0 95% 0);
}

25% {
    clip-path: inset(0 95% 0 0);
}
50% {
    clip-path: inset(95% 0 0 0);
}
75% {
    clip-path: inset(0 0 0 95%);
}
}

.top-links{
    font-size: .8rem;
}
.top-links__wrapper{
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.vazir-thin{
    font-family: vazirThin;
}
.input{
    border: 1px solid rgba(255, 255, 255, .15);
    outline: none;
    height: 2.4rem;
}
.input:focus{
    border: 1px solid rgba(198, 40, 40, .7);
}
.search-icon{
    fill: var(--main-color-hover);
}

.search-button{
    top: 6px;
    left: 85px;
}
.cities-container{
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.ul-title{
    color: var(--main-color-hover);
}
.cities-wrapper li{
    width: 14%;
    height: .7rem;
}
.logos-container{
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.logo{
    width: 5rem;
    height: 5rem;
}
.socials svg{
    fill: var(--main-color-white);
}