@import url("fonts.css");
@import url("share.css");


body{
    background-color: #242424;
    font-family: vazirThin;
}
.wrapper{
    width: 42rem;
}
.top-links{
    font-size: .9rem;
}
.top-links__wrapper{
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.vazir-thin{
    font-family: vazirThin;
}
.input{
    border: 1px solid rgba(255, 255, 255, .15);
    outline: none;
    height: 2.4rem;
}
.search-icons{
    width: 32px;
    height: 32px;
    color: white;
}
.search-button{
    top: 6px;
    left: 85px;
}